input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 40px;
  height: 35px;
  display: inline-block;
  line-height: 35px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  margin-top: 15px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -35px;
}

label.css-label {
  background-image: url(../assets/images/checkbox.png);
  user-select: none;
}