div.login-submit {
  height: 90px;
  background: #E5E5E5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  height: 40px;
  width: 100px;
  margin-right: 60px;
  background: #f9f9f9;
  color: #B2B2B2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #B2B2B2;
  border-radius: 4px;
  padding: 10px 10px;
  cursor: pointer;
}

button:hover {
  background: #39A0CD;
  color: #F9F9F9;
  border: 1px solid #39A0CD;
}

div.login-submit-link span {
  margin-right: 20px;
  text-decoration: none;
  color: #39A0CD;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}