section.login {
  width: 33%;
  box-shadow: 7px 7px 25px -4px rgba(0, 0, 0, 0.75);
  transition: width 0.5s;
}

//-----------HEADER

header {
  height: 80px;
  background: #39A0CD;
}

//----------INNER CONTAINER

div.login-logo-container {
  border: 2px solid #39A0CD;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  top: -10px;
  left: 215px;
  transition: left 0.5s;
}

div.login-logo-container img {
  top: -2px;
  left: -34px;
  height: 108%;
  position: relative;
}